@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap");

body {
  font-family: "Noto Sans Mono", monospace;
  background: linear-gradient(to top, #ffd9fc, #ffe9e3);
  margin: 0;
}
