@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap");

body {
  font-family: "Noto Sans Mono", monospace;
  background: linear-gradient(to top, #8dbed4, #d4a4d0);
  margin: 0;
}
